.profile__edit {
    font-family: inherit;
    color: inherit;
    padding: 0;
    margin: 0 0 5%;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    align-self: center;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.profile__edit:hover {
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile__edit {
        margin: 3% 0 0 0;
        width: 18px;
        height: 18px;
        font-size: 12px;
    }    
}


