.popup__close {
    position: absolute;
    top: -38px;
    right: -32px;
    font-size: 30px;
    font-weight: 900;
    -webkit-transition: all ease-in-out 0.6s;
    -o-transition: all ease-in-out 0.6s;
    transition: all ease-in-out 0.6s;
    background-color: transparent;    
    color: #ffffff;
    border: none;
}

.popup__close:hover {
    -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
            transform:rotate(180deg);
    cursor: pointer;  
    opacity: 0.7;

}

@media screen and (max-width: 450px) {
    .popup__close {
        top: 20px;
        right: 20px;
        color: #000;
    }
 }