.locations__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 15px 25px 21px;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}