@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/root/root.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__image/header__image.css);

@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__text/profile__text.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__role/profile__role.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__add/profile__add.css);

@import url(../blocks/locations/locations.css);

@import url(../blocks/location/location.css);
@import url(../blocks/location/__image/location__image.css);
@import url(../blocks/location/__info/location__info.css);
@import url(../blocks/location/__name/location__name.css);
@import url(../blocks/location/__rate/location__rate.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__role/popup__role.css);
@import url(../blocks/popup/__save/popup__save.css);
@import url(../blocks/popup/_hidden/popup_hidden.css);
